@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  .is-body{
    background: #fff;
    padding: 40px;
  }
  .react-tree {
    border: 3px dashed gray;
    margin-bottom: 20px;
  }

  // common styles
  .react-tree {
    padding: 20px;
    user-select: none;
    .is-handle {
      padding: 5px;
      background: #eee;
      cursor: move;
    }
    .is-nodes {
      min-height: 5px;
    }
    .is-node {
      margin-left: 20px;
      &[collapsed] {
        .is-branch {
          display: none;
        }
      }
    }

    > .is-node {
      margin-left: 0;
    }
  }

  details {
    summary {
      outline: none;
      &::-webkit-details-marker {
        color: #f00;
      }
    }
  }

  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      margin-left: -10px;
    }
    100% {
      opacity: 1;
      margin-left: 0px;
    }
  }
}
