* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
}

@import "@/components/style.scss";

.app-container {
  padding: 50px;
  .react-tree {
    border: 3px dashed gray;
    margin-bottom: 20px;
  }

  // common styles
  .react-tree {
    padding: 20px;
    .is-node {
      margin-left: 20px;
      &[collapsed] {
        .is-branch {
          display: none;
        }
      }
    }

    > .is-node {
      margin-left: 0;
    }
  }
}
