$react-draggable-tree-options: () !default;

@import "dragula/dist/dragula.css";

.react-draggable-tree {
  // your styles
  .is-label {
    cursor: move;
  }

  .is-nodes {
    padding: 5px;
    border: 1px dotted #ccc;
  }
}
